:root {
    --background-color: F5F5F5;
    --primary-1: #005834;
    --primary-2: rgba(41, 52, 44, 0.60);
    --primary-3: #29342C;
    --primary-4: #FFFFFF73;
    --dark-1: #333;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.skip_links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip_links a {
    position: absolute;
    top: -3rem;
    background-color: black;
    color: aliceblue;
    padding: 0.5rem;
}

.skip_links a:focus {
    top: 0;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: "Roboto Condensed";
    margin: 0;
}

p {
    font-family: roboto;
    text-align: center;
}

/* header_container layout */
.header_container {
    display: flex;
    flex-direction: column;
}

/* header layout */
.header {
    max-width: 100%;
    height: 84px;
    flex-shrink: 0;
    background-color: var(--primary-1);
}

.banner_container {
    background-color: #FBF9EF;
}

.nav_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav_items {
    display: none;
}

.header_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 72px;
    padding: 0 1rem;
}

/* logo style */
.logo img {
    width: 54px;
    height: auto;
    max-width: 100%;
    margin-left: 1rem;
}


.header_right button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
}

.header_right button svg {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--primary-4);
}

/* banner style & layout */
.banner_container {
    display: flex;
    flex-direction: column-reverse;
}

.banner_container .image_container {
    width: 100%;
    height: 100%;
    max-height: 560px;
    overflow: hidden;
}

.banner_container img,
.banner_container source {
    background-color: #FBF9EF;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    flex-shrink: 0;
}

.banner .slogon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.banner .slogon_text {
    color: var(--dark-1);
    font-family: "Titan One";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0.96px;
    margin: auto 4rem;
}

/* slogon style */
.highlight_circle_1 {
    position: relative;
}

.highlight_circle_1::after {
    content: "";
    position: absolute;
    left: 3px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/images/highlight_circle_1.svg);
    background-repeat: no-repeat;
}

.highlight_circle_2 {
    position: relative;
}

.highlight_circle_2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 200%;
    height: 200%;
    background-image: url(/images/highlight_circle_2.svg);
    background-repeat: no-repeat;
}

.highlight_underline_2 {
    color: var(--primary-1);
    position: relative;
}

.highlight_underline_2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 12px;
    background-image: url(/images/highlight_uncerline_1.svg);
    background-repeat: no-repeat;
}

.highlight_underline_1 {
    color: var(--primary-1);
    position: relative;
}

.highlight_underline_1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 10px;
    background-image: url(/images/highlight_uncerline_2.svg);
    background-repeat: no-repeat;
}

/* header button style */
.button {
    margin-top: 4rem;
    background-color: var(--primary-1);
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #0c8a56;
    cursor: pointer;
}

.button a {
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-decoration: none;
}

/* featured service */
/* text style */
h1 {
    font-family: "Roboto Condensed";
    ;
    margin-top: 2rem;
    color: var(--primary-1);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
}

.services_container p {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6rem;
    margin: 1rem 2rem 0 2rem;
    color: var(--dark-1);
}

/* image style */
.services_container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 1rem;
}

.services_container .grid_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    margin: 2rem 0;
    box-sizing: border-box;
}

.services_container .grid_container .card_recipe {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.services_container .grid_container .card_organic {
    grid-column: 4 / span 3;
    grid-row: 1 / span 1;
}

.services_container .grid_container .card_delivery {
    grid-column: 4 / span 3;
    grid-row: 2 / span 1;
}

.services_container .grid_container .card picture {
    width: 100%;
    height: 100%;
    display: block;
}

.services_container .grid_container .card picture source,
.services_container .grid_container .card picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}


/* mask on the card */
.services_container .grid_container .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_container .grid_container .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(41, 52, 44, 0.00) 0%, rgba(41, 52, 44, 0.60) 40%);
}

/* content on the card */
.services_container .grid_container .card p {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0.5rem;
    color: white;
    z-index: 1;
}

.services_container .grid_container .card a {
    display: none;
    transition: all 0.5s ease-in-out;
}

.services_container .grid_container .card a:hover {
    background-color: #FFF;
}

/* shopping & products layout */
.shopping_container .grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    width: 100%;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.product_item picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shopping_container .grid_container .item_1 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
}

.shopping_container .grid_container .item_2 {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
}

.shopping_container .grid_container .item_3 {
    grid-column: 1 / span 6;
    grid-row: 2 / span 1;
}

.shopping_container .grid_container .item_4 {
    grid-column: 7 / span 6;
    grid-row: 2 / span 1;
}

.shopping_container .grid_container .item_5 {
    grid-column: 1 / span 6;
    grid-row: 3 / span 1;
}

.shopping_container .grid_container .item_6 {
    grid-column: 7 / span 6;
    grid-row: 3 / span 1;
}

.shopping_container .grid_container .item_7 {
    grid-column: 1 / span 6;
    grid-row: 4 / span 1;
}

.shopping_container .grid_container .item_8 {
    grid-column: 7 / span 6;
    grid-row: 4 / span 1;
}

.shopping_container .grid_container .item_9 {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
}

.shopping_container .grid_container .item_10 {
    grid-column: 7 / span 6;
    grid-row: 5 / span 1;
}

.shopping_container .grid_container .item_11 {
    grid-column: 1 / span 6;
    grid-row: 6 / span 1;
}

.shopping_container .grid_container .item_12 {
    grid-column: 7 / span 6;
    grid-row: 6 / span 1;
}

.price_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

/* product_item style */
.grid_container .product_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 1rem;
    width: 100%;
    border: #29342c2e solid 1px;
    border-radius: 0.5rem;
}

.grid_container .product_item img {
    width: 100%;
    height: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.grid_container .product_item h2 {
    font-size: 2rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

.grid_container .product_item h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.grid_container .product_item p {
    font-size: 1.2rem;
    font-style: normal;
    text-align: left;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--dark-1);
    margin-left: 0.5rem;
    padding-bottom: 1rem;
}

.grid_container .product_item button {
    background: none;
    color: var(--primary-1);
    border: none;
    cursor: pointer;
    padding-right: 0.5rem;
}

/* contact style */
/* contact us */
/* contact layout */
.contact_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

/* contact us overall layout */
.contact_container {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.04);
    margin: 1rem 1rem 0.5rem 1rem;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

/* form over overall layout */
.form_container {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.04);
    margin: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
}

/* contact us layout */
.contact_content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    align-items: flex-start;
}

/* contact content layout */
.contact_content .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0 1rem 0;
}

.contact_content .info .info_item {
    display: flex;
    align-items: center;
}

/* contact us details */
.contact_grid_container h1 {
    margin-top: 2rem;
}

.contact_content .info svg {
    color: rgba(0, 0, 0, 0.7);
}

.contact_content .info p {
    text-align: left;
    padding: 0.5rem 0 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.65);
}

/* contact us map style */
.contact_content .info_item iframe {
    max-width: 100%;
    height: 300px;
    margin-top: 1rem;
    border: rgba(6, 6, 6, 0.25) solid 1px !important;
}

/* form content layout */
.form_container .form_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding-top: 2rem;
    box-sizing: border-box;
}

/* name-input layout */
.form_container .name {
    display: flex;
    gap: 1rem;
}

.form_container .name input {
    flex: 1;
    min-width: 0;
}

/* form details */
.form_container label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.form_container input,
.form_container textarea {
    height: 48px;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.08);
    padding: 0 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.form_container textarea {
    height: 200px;
    padding: 1rem;
}

/* button style */
.form_container .button {
    align-self: center;
    margin: 1rem 0 2rem 0;
}

/* about style */
.about_container {
    display: grid;
    grid-auto-rows: minmax(120px, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.about_container .text_content {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.about_container .video_container {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
}

.about_container img:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.about_container img:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.about_container img:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.about_container img {
    width: 100%;
    max-width: 100%;
}

/* Let the video fill the container  */
.video_container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    aspect-ratio: 16 / 9;
}

.video_container iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* about text style */
.about_container p {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6rem;
    margin: 1rem 0 0 0;
    color: var(--dark-1);
    padding-bottom: 1rem;
    text-align: left;
}

/* mobile menu style */
/* menu layout */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    color: var(--primary-4);
    text-decoration: none;
}

.menu svg {
    transition: color 0.3s ease;
}

.menu:hover svg {
    color: #FFF;
}

.menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 0;

}

.menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
}

.menu_list .item_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

/* menu details */
.menu_list hr {
    border: none;
    background-color: #0000003e;
    width: 100%;
    height: 1px;
    margin: 2rem 0 0.5rem 2rem;
}

.menu_item a {
    text-decoration: none;
    color: var(--dark-1);
}

.header .close_button,
.header .close {
    align-self: center;
    padding-left: 1rem;
    padding-right: 0.9rem;
}

.menu_mobile h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

/* footer style */
.footer_container {
    background-color: var(--primary-3);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

/* links style */
.footer_container .links {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-around;
    margin: 0 2rem;
}

.footer_container .links .link {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.footer_container .links h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer_container .links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer_container .links ul li a {
    text-decoration: none;
    color: #ffffffac;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 2;
}

/* qr code hidden */
.qr_code {
    display: none;
}

/* social meida style */
.footer_container .social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    color: #ffffffac;
    padding: 1rem 0 0 0;
}

.footer_container .social_media svg {
    width: 1.5rem;
}

.footer_container hr {
    border: none;
    background-color: #ffffff2f;
    width: 100%;
    height: 1px;
    margin: 1rem 1rem;
}

.footer_container p {
    color: #ffffffac;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 1rem 0;
    letter-spacing: 1px;
}

/* tablet size */
@media screen and (min-width: 792px) and (max-width: 960px) {

    /* services items */
    .services_container .grid_container .card_recipe {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .services_container .grid_container .card_organic {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    .services_container .grid_container .card_delivery {
        grid-column: 5 / span 2;
        grid-row: 1 / span 2;
    }

    .services_container .grid_container .card picture {
        width: 100%;
        height: 100%;
        display: block;
    }

    .services_container .grid_container .card picture source,
    .services_container .grid_container .card picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .services_container .grid_container .card p {
        position: absolute;
        bottom: 5rem;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0.5rem;
        color: white;
        z-index: 1;
    }

    .services_container .grid_container .card a {
        position: absolute;
        bottom: 2rem;
        background-color: #ffffffac;
        color: var(--dark-1);
        width: 6rem;
        height: 2.4rem;
        border-radius: 1.2rem;
        font-size: 1.2rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    /* shopping products */
    .shopping_container .grid_container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .shopping_container .grid_container .item_1 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

    .shopping_container .grid_container .item_2 {
        grid-column: 5 / span 4;
        grid-row: 1 / span 1;
    }

    .shopping_container .grid_container .item_3 {
        grid-column: 9 / span 4;
        grid-row: 1 / span 1;
    }

    .shopping_container .grid_container .item_4 {
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
    }

    .shopping_container .grid_container .item_5 {
        grid-column: 5 / span 4;
        grid-row: 2 / span 1;
    }

    .shopping_container .grid_container .item_6 {
        grid-column: 9 / span 4;
        grid-row: 2 / span 1;
    }

    .shopping_container .grid_container .item_7 {
        grid-column: 1 / span 4;
        grid-row: 3 / span 1;
    }

    .shopping_container .grid_container .item_8 {
        grid-column: 5 / span 4;
        grid-row: 3 / span 1;
    }

    .shopping_container .grid_container .item_9 {
        grid-column: 9 / span 4;
        grid-row: 3 / span 1;
    }

    .shopping_container .grid_container .item_10 {
        grid-column: 1 / span 4;
        grid-row: 4 / span 1;
    }

    .shopping_container .grid_container .item_11 {
        grid-column: 5 / span 4;
        grid-row: 4 / span 1;
    }

    .shopping_container .grid_container .item_12 {
        grid-column: 9 / span 4;
        grid-row: 4 / span 1;
    }

    /* about style */
    /* about part 1 and part 3 layout */
    .about {
        max-width: 1024px;
        min-width: 744px;
        margin: 2rem auto;
    }

    .about h1 {
        margin: 0;
    }

    .authentic,
    .delivery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas:
            ". video text text"
            "img1 video text text"
            "img1 img2 . ."
            ". img2 img3 .";
    }

    .about_container .video_container {
        width: 100%;
        max-width: 100%;
        height: auto;
        border: none;
        border-radius: 0.5rem;
    }
}

.about_container .text_content {
    grid-area: text;
}

.about_container h1 {
    text-align: left;
}

.about_container picture:nth-of-type(1) {
    grid-area: img1;
    width: 236px;
}

.about_container picture:nth-of-type(2) {
    grid-area: img2;
    width: 236px;
}

.about_container picture:nth-of-type(3) {
    grid-area: img3;
    width: 236px;
}

/* about part 2 layout */
.organic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
        "text text video ."
        "text text video img1"
        ". . img3 img1"
        ". img2 img3 ."
        ". img2 . .";
}

.about_container .video_container {
    grid-area: video;
    width: 236px;
    max-height: 320px;
    height: 100%;
}

.about_container .video_container iframe {
    border-radius: 0.5rem;
}

.about_container .text_content {
    grid-area: text;
}

.about_container img:nth-of-type(1) {
    grid-area: img1;
    width: 236px;
}

.about_container img:nth-of-type(2) {
    grid-area: img2;
    width: 236px;
}

.about_container img:nth-of-type(3) {
    grid-area: img3;
    width: 236px;
}

/* footer sytle */
.footer_container .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
    margin: 0 8rem;
}

.footer_container .links .qr_code img {
    width: 102px;
    padding: 1.5rem;
}

.footer_container .links h4 {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.85;
}

.footer_container .links ul li a {
    font-size: 1rem;
}

.footer_container p {
    font-size: 1rem;
    opacity: 0.85;
}

.footer_container .social_media svg {
    width: 1.8rem;
}

/* desktop screen */
@media screen and (min-width: 960px) {

    .nav_content,
    .banner,
    .services_container,
    .shopping_container,
    .main_info,
    .main_contact {
        max-width: 1440px;
        margin: 0 auto;
    }

    .header_right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
    }

    /* menu hidden */
    .header_right .menu {
        display: none;
    }

    /* display navigation list */
    .nav_items {
        display: block;
    }

    /* navigation desktop */
    .nav_items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 3rem;
        padding: 2rem;
        color: #ffffff;
        font-size: 1.2rem;
        font-family: "Roboto Condensed";
        letter-spacing: 2px;
    }

    .nav_items ul li a {
        text-decoration: none;
        color: #ffffffa5;
        transition: color 0.3s ease-in-out;
    }

    .nav_items ul li a:hover {
        color: white;
    }

    .header_buttons {
        background-color: #0606064f;
        height: 84px;
    }

    /* banner style */
    .banner_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .banner .image_container {
        grid-column: 2 / span 1;
        width: 100%;
        height: auto;
        max-height: 640px;
        object-fit: contain;
    }

    .banner .slogon_container {
        padding: 1rem 0 1rem 6rem;
        max-width: 540px;
        min-width: 400px;
    }

    h1 {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 600;
        margin-top: 3rem;
    }

    /* service layout */
    .grid_container {
        padding: 0 1rem;
    }

    /* services items */
    .services_container .grid_container .card_recipe {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .services_container .grid_container .card_organic {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    .services_container .grid_container .card_delivery {
        grid-column: 5 / span 2;
        grid-row: 1 / span 2;
    }

    /* mask animation */
    @keyframes maskAppear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* textrise animation */
    @keyframes textRise {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .services_container .grid_container .card picture {
        width: 100%;
        height: 100%;
        display: block;
    }

    .services_container .grid_container .card picture source,
    .services_container .grid_container .card picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .services_container .grid_container .card p {
        position: absolute;
        bottom: 7rem;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0.5rem;
        color: #ffffff;
        z-index: 1;
        opacity: 0;
    }

    .services_container .grid_container .card a {
        position: absolute;
        bottom: 3rem;
        background-color: #ffffffd4;
        color: var(--dark-1);
        width: 8rem;
        height: 2.8rem;
        border-radius: 1.4rem;
        font-size: 1.5rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        opacity: 0;
    }

    .services_container .grid_container .card::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(41, 52, 44, 0.00) 0%, rgba(41, 52, 44, 0.60) 40%);
        opacity: 0;
    }

    /* hover */
    .services_container .grid_container .card:hover::after {
        animation: maskAppear 0.3s ease-out forwards;
    }

    .services_container .grid_container .card:hover p {
        animation: textRise 0.4s ease-out forwards;
    }

    .services_container .grid_container .card:hover a {
        animation: textRise 0.4s ease-out 0.1s forwards;
    }

    .services_container .grid_container .card a:hover {
        background-color: #FFF;
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    /* shopping products */
    .shopping_container .grid_container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .shopping_container .grid_container .item_1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }

    .shopping_container .grid_container .item_2 {
        grid-column: 4 / span 3;
        grid-row: 1 / span 1;
    }

    .shopping_container .grid_container .item_3 {
        grid-column: 7 / span 3;
        grid-row: 1 / span 1;
    }

    .shopping_container .grid_container .item_4 {
        grid-column: 10 / span 3;
        grid-row: 1 / span 1;
    }

    .shopping_container .grid_container .item_5 {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }

    .shopping_container .grid_container .item_6 {
        grid-column: 4 / span 3;
        grid-row: 2 / span 1;
    }

    .shopping_container .grid_container .item_7 {
        grid-column: 7 / span 3;
        grid-row: 2 / span 1;
    }

    .shopping_container .grid_container .item_8 {
        grid-column: 10 / span 3;
        grid-row: 2 / span 1;
    }

    .shopping_container .grid_container .item_9 {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;
    }

    .shopping_container .grid_container .item_10 {
        grid-column: 4 / span 3;
        grid-row: 3 / span 1;
    }

    .shopping_container .grid_container .item_11 {
        grid-column: 7 / span 3;
        grid-row: 3 / span 1;
    }

    .shopping_container .grid_container .item_12 {
        grid-column: 10 / span 3;
        grid-row: 3 / span 1;
    }

    /* display qr code */
    .qr_code {
        display: block;
    }

    /* contact us overall layout */
    .contact_container {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: 1rem 0.5rem 1rem 2rem;
    }

    .contact_content {
        margin: 0 2rem;
    }

    /* form content overall layout */
    .form_container {
        grid-column: 2 / span 2;
        grid-row: 1 / span 1;
        padding: 0 2rem;
        margin: 1rem 2rem 1rem 0.5rem;
    }

    /* about style */
    /* about part 1 and part 3 layout */
    .about {
        max-width: 1024px;
        min-width: 744px;
        margin: 2rem auto;
    }

    .about h1 {
        margin: 0;
    }

    .authentic,
    .delivery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas:
            ". video text text"
            "img1 video text text"
            "img1 img2 . ."
            ". img2 img3 .";
    }

    .about_container .video_container {
        grid-area: video;
        width: 236px;
        max-height: 320px;
        height: 100%;
    }

    .about_container .text_content {
        grid-area: text;
    }

    .about_container h1 {
        text-align: left;
    }

    .about_container picture:nth-of-type(1) {
        grid-area: img1;
        width: 236px;
    }

    .about_container picture:nth-of-type(2) {
        grid-area: img2;
        width: 236px;
    }

    .about_container picture:nth-of-type(3) {
        grid-area: img3;
        width: 236px;
    }

    /* about part 2 layout */
    .organic {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas:
            "text text video ."
            "text text video img1"
            ". . img3 img1"
            ". img2 img3 ."
            ". img2 . .";
    }

    .about_container .video_container {
        grid-area: video;
        width: 236px;
        max-height: 320px;
        height: 100%;
    }

    .about_container .video_container iframe {
        border-radius: 0.5rem;
    }

    .about_container .text_content {
        grid-area: text;
    }

    .about_container img:nth-of-type(1) {
        grid-area: img1;
        width: 236px;
    }

    .about_container img:nth-of-type(2) {
        grid-area: img2;
        width: 236px;
    }

    .about_container img:nth-of-type(3) {
        grid-area: img3;
        width: 236px;
    }

    /* footer sytle */
    .footer_container .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 4rem;
        margin: 0 8rem;
    }

    .footer_container .links .qr_code img {
        width: 102px;
        padding: 1.5rem;
    }

    .footer_container .links h4 {
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0.85;
    }

    .footer_container .links ul li a {
        font-size: 1rem;
    }

    .footer_container p {
        font-size: 1rem;
        opacity: 0.85;
    }

    .footer_container .social_media svg {
        width: 1.8rem;
    }
}